<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuryadincjr.activitylifecycle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityLifecycle">
        <activity
            android:name=".recycleview.SampleRecycleviewActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".stadyCaseSesion7.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".layout.TableLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.RelativeLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.LinierLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.ConstainLayoutActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".delightfulUserExperiences.NinePatchFileActivity"
            android:exported="true" />
        <activity
            android:name=".activitiesAndIntent.ActivitiesAndIntentActivity"
            android:exported="true" />
        <activity
            android:name=".activitiesAndIntent.ImplicitIntentActivity"
            android:exported="true" />
        <activity
            android:name=".activitiesAndIntent.ExplicitIntentActivity"
            android:exported="true" />
        <activity
            android:name=".activityLifecycle.SecondActyvity"
            android:exported="true" />
        <activity
            android:name=".activityLifecycle.MainActivity"
            android:exported="true" />
    </application>

</manifest>